html {
  background-color: #242b31;
  width: 100%;
  color: #fff;
}

header,
footer {
  background-color: #141b20;
  height: 91px;
  min-height: 91px;
  width: 100%;
}

.app-container {
  max-width: 1419px;
  padding: 12px;
}
